@keyframes glassShine {
  0% {
    transform: translateX(-100%) translateY(-50%);
  }
  100% {
    transform: translateX(100%) translateY(50%);
  }
}
  @keyframes growHeight {
          to {
            transform: scaleY(1);
          }
        }

        